<!DOCTYPE html>
<html>
<head>
	<title>The Great RGB Guessing Game</title>
	<link rel="stylesheet" href="color-game.css">
</head>
<body>
<h1>The Great <br>
<span id="picked-color"></span> <br>
Color Game</h1>

<div id="status">
	<button id="new-colors">New Colors</button>
	<span id="message"></span>
	<button id="easy">Easy</button>
	<button id="hard" class="selected">Hard</button>
</div>

	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
	</div>

</body>
<script type="text/javascript" src="colorGame.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</html>