body {
	background-color: #232323;
	margin: 0;
	font-family: "Avenir";
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

#picked-color {
	font-size: 200%;
}

.square {
	background: blue;	
	margin: 1.66%;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

h1 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	line-height: 1.1;
	padding: 20px 0;
}

#status {
	text-align: center;
	background: white;
}

/*#new-colors, #message {
	color: blue;
}*/

#message {
	display: inline-block;
	width: 20%;
}

.selected {
	color: white;
	background: steelblue;
	outline: none;
}

button {
	text-transform: uppercase;
	border: none;
	background: none;
	color: steelblue;
	font-weight: 700;
	height: 100%;
	letter-spacing: 1px;
	font-size: inherit;
	transition: 0.4s all;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

button:hover {
	color: white;
	background: steelblue;
}