body {
	background-color: #232323;
	margin: 0;
	font-family: "Avenir";
	color: white;
	text-align: center;
	margin-bottom: 75px;
}

h2 {
	text-decoration: underline;
}

#back {
	color: white !important;
	position: absolute;
	right: 300px;
	top: 300px;
	text-decoration: underline;
	color: rgb(0, 255, 233) !important;
}

#red {
	margin: 0 auto;
	background-color: rgb(255, 0, 0);
	height: 200px;
	width: 200px;
	border-radius: 15%;
}

#desc {
	/*border: 2px solid red;*/
	height: 200px;
	width: 200px;
	position: absolute;
	left: 250px;
	top: 250px;
}

h3 {
	text-decoration: underline;
}

#green {
	background-color: rgb(0, 255, 0);
	height: 200px;
	width: 200px;
	border-radius: 15%;
	margin: 0 auto;

}

#blue {
	background-color: rgb(0, 0, 255);
	height: 200px;
	width: 200px;
	border-radius: 15%;
	margin: 0 auto;	
}

i {
	margin-bottom: 15px;
	/*border: 2px solid red;*/
	/*display: inline;*/
}
